/* Common stuff */
.picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}

.picker,
.slide {
  cursor: pointer;
  float: left;
}

.picker-indicator,
.slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.slide-wrapper {
  margin-left: 0.3em;
}

.picker {
  width: 14em;
  height: 14em;
}
.slide {
  width: 2em;
  height: 14em;
}

.picker-indicator {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  opacity: 0.5;
  background-color: white;
  pointer-events: none;
}
.slide-indicator {
  width: 2em;
  height: 10px;
  opacity: 0.6;
  border: 4px solid black;
  background-color: white;
  pointer-events: none;
}
