html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  /* font-size: 85%; */
  /* font-size: .9em; */
  /* font-size: 14px; */
  font-family: "Lucida Grande", sans-serif;
  font-weight: lighter;
  /* font-family: "Comic Sans"; */
  /* font-family: "Lucida Console", Monaco, monospace; */
  /* font-family: sans-serif; */
  /* font-family: "Courier New", "Trebuchet MS", sans-serif; */
  /* font-family: "Courier New Bold"; */
  /* font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif; */
  background-color: #000000;
  color: #ffffff;
}

/* ----- google material icons ----- */
.material-icons-outlined {
  font-size: 1em;
  vertical-align: middle;
}

/*
mimimizer icon on each of the VDialogs
*/
#vdMinimizer {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  /* margin-top: 3px;*/
}

.navMenu {
  position: absolute;
}

.ui-menu {
  width: 200px;
}

/*input {margin: 1px;}*/
table {
  /* border-collapse: collapse; */
  /* width: 100%; */
  border-radius: 5px;
}

table,
th,
td {
  border-collapse: collapse;
}

table.withBorder td {
  border-collapse: collapse;
  border: 1px solid white;
}

td {
  padding: 5px;
  /* background: rgb(34, 32, 32);
  
  color: #ffffff; */

  text-align: left;
  /* border-bottom: 1px solid white; */
}

table table,
table table td {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 2px;
  text-align: left;
  /*                padding-top: 1px;
                    padding-bottom: 1px;
                    border-collapse: collapse;*/
}

input[type="text"] {
  min-width: 50px;
  width: auto;
  display: inline-block;
}

#vCanvas {
  min-height: 700px;
  min-width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -o-user-select: none;
  user-select: none;
  /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

/* for tree */
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
}

#helpDiv ul {
  list-style-type: square;
  margin-left: 20px;
}

#helpDiv li {
  padding-bottom: 5px;
}

.vt-icon {
  cursor: pointer;
}

.txt:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.txt:active {
  background-color: white;
  color: black;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.vinput {
  display: inline-block;
  /* color: #000 !important;
  background-color: #d9d4dd !important; */
  border: 1px solid black;
  outline: none;
  /* border-radius: 5px; */
}


@keyframes scaleIn {
  0% {
    scale: 0%;
    opacity: 0.0;
  }

  100% {
    scale: 100%;
    opacity: 1.0;

  }
}

@keyframes scaleOut {
  0% {
    scale: 100%;
    opacity: 1.0;
  }

  100% {
    scale: 0%;
    opacity: 0.0;
  }
}

@keyframes rotateIn {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;

  }
}

@keyframes rotateOut {
  0% {
    rotate: 360deg;
  }

  100% {
    rotate: 0deg;

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;

  }
}

@keyframes fadeOut {
  0% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;

  }
}

@keyframes nfIn {
  0% {
    scale: 0%;
    rotate: 0deg;
  }

  100% {
    scale: 100%;
    rotate: 360deg;

  }
}

@keyframes nfOut {
  0% {
    scale: 100%;
    rotate: 360deg;
  }

  100% {
    scale: 0%;
    rotate: 0deg;
  }
}